<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - My Scrum</title>
    <link rel="stylesheet" href="/static/uikit-2/css/uikit.min.css" />
    <script src="/static/jquery/jquery-2.1.4.min.js"></script>
    <script src="/static/uikit-2/js/uikit.min.js"></script>
  </head>
  <body>

    <div id="content" class="uk-container uk-container-center">
      {% block content %}{% endblock %}
    </div>

    <div id="footer" class="2uk-position-bottom-right">
      &copy; Copyright 2015 by <a href="mailto: amingsc@qq.com">amingsc</a>.
    </div>
  </body>
</html>
