{% extends "layout.html" %}
{% block title %}每日Review{% endblock %}
{% block content %}
  <style>
  </style>

  <h1>每日Review</h1>

  <table class="uk-table uk-table-condensed2 uk-table-striped2" border="1">
    <caption>下面为最近7天Review记录</caption>
    <thead>
        <tr>
            <th>日期</th>
            <th>计划</th>
            <th>工作内容</th>
            <th>执行效果</th>
            <th>日记</th>
        </tr>
    </thead>
    <tbody>
      {% set editable=False%}
      {% for r in data.review_list %}
        {% set editable = (editalbe or r.date>=data.today) %}
        {% if editable %}
          <tr class="review-row">
              <td>
                <i class="uk-icon-calendar"></i>
                <span name="date" class="uk-text-danger uk-text-bold uk-text-large">{{r.date}}</span>
              </td>
              <td class="uk-padding-remove">
                <textarea name="plan" class="uk-width-1-1 uk-form-blank" style="{border:0px;}">{{r.plan if r.plan!=None}}</textarea>
              </td>
              <td class="uk-padding-remove">
                <textarea name="done" class="uk-width-1-1 uk-form-blank">{{r.done if r.done!=None}}</textarea>
              </td>
              <td class="uk-padding-remove2">
                <div class="uk-form-select" data-uk-form-select="{target:'a'}">
                    <a></a>
                    <select name="quality" class="uk-width-1-1" autocomplete="off">
                      <option value="很好" {%if r.quality=="很好"%}selected{%endif%}>很好</option>
                      <option value="一般" {%if r.quality=="一般" or r.quality==None %}selected{%endif%}>一般</option>
                      <option value="较差" {%if r.quality=="较差"%}selected{%endif%}>较差</option>
                    </select>
                </div>

              </td>
              <td class="uk-padding-remove">
                <textarea name="notes" class="uk-width-1-1 uk-form-blank">{{r.notes if r.notes!=None}}</textarea>
              </td>
          </tr>
        {% else %}

          <tr style="background-color: #f5f5f5;">
              <td>
                <i class="uk-icon-calendar"></i>
                  {{r.date}}
              </td>
              <td>{{r.plan if r.plan!=None}}</td>
              <td>{{r.done if r.done!=None}}</td>
              <td>{{r.quality if r.quality!=None}}</td>
              <td>{{r.notes if r.notes!=None}}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
  <div>
    <button class="uk-button uk-button-danger" onclick="OnSaveReview(this);">保存</button>
    <button class="uk-button uk-button-link" onclick="OnGenerateWorkDone(this);">自动生成今日工作内容</button>
  </div>

<script type="text/javascript">

/* 当点击保存按钮时执行 */
function OnSaveReview(element){
  var data = new Array();
  $("tr.review-row").each(function(index){
    var row = {
      "date": $(this).find("[name='date']").text(),
      "plan": $(this).find("[name='plan']").val(),
      "done": $(this).find("[name='done']").val(),
      "quality": $(this).find("[name='quality']").val(),
      "notes": $(this).find("[name='notes']").val()
    };
    data.push(row);
  });

  console.log(data);
  $.ajax({
     url: "{{url_for('.ajax_review_update')}}",
     data: {"reviewdata": JSON.stringify(data)},
     type: "POST",
     dataType: "json",
     async: false,
     cache: false
   }).done(function( result ) {
     if(result["code"] == 0){
          UIkit.notify("保存成功!", uknotifycfg("success"));
     }else{
          //response to error
          alert("保存失败，错误原因：" + result["message"]);
      }
  }).fail(function(result){
     //response to fail
     alert("无法连接服务器，请联系系统管理员");
  });
}

/* 当点击‘自动生成今日工作内容’时执行*/
function OnGenerateWorkDone(element){
  $.ajax({
     url: "{{url_for('.ajax_generate_workdone')}}",
     data: {"today": "{{data.today}}"},
     type: "POST",
     dataType: "json",
     async: false,
     cache: false
   }).done(function( result ) {
     if(result["code"] == 0){
          var obj_date = $("span[name='date']:contains('{{data.today}}')");
          if(!obj_date){
            console.error("未找到正确的date部件");
            return;
          }
          $(obj_date).closest("tr").find("textarea[name='done']").val(result["workdone"]);
          UIkit.notify("生成成功!", uknotifycfg("success"));
     }else{
          //response to error
          alert("操作失败，错误原因：" + result["message"]);
      }
  }).fail(function(result){
     //response to fail
     alert("无法连接服务器，请联系系统管理员");
  });
}
</script>
{% endblock %}
