{% extends "layout.html" %}
{% block title %}用户故事{% endblock %}
{% block content %}
  <h1>用户故事</h1>

  <div class="uk-overflow-container">
    <ul class="uk-list uk-list-line">
      {# project header #}
      <div class="uk-grid">
        <div class="uk-width-1-10"><strong>项目编号</strong></div>
        <div class="uk-width-1-10"><strong>项目类别</strong></div>
        <div class="uk-width-4-10"><strong>项目名称</strong></div>
      </div>

      {% for p in data.project %}
        <li class="project-row">
          {# project row #}
          <div class="uk-grid">
            <div class="uk-width-1-10">
              <a href="" class="uk-icon-tasks"></a>
              {{p.id}}
            </div>
            <div class="uk-width-1-10">{{p.category}}</div>
            <div class="uk-width-4-10">{{p.name}}</div>
          </div>

          {# userstory header #}
          <ul class="uk-list uk-list-striped">
            <li class="uk-padding-top-remove uk-padding-bottom-remove">
              <div class="uk-grid">
                <!--Left panel-->
                <div class="uk-width-3-5 uk-grid">
                  <div class="uk-width-5-10"><small><em>名称</em></small></div>
                  <div class="uk-width-1-10"><small><em>状态</em></small></div>
                  <div class="uk-width-1-10"><small><em>优先级</em></small></div>
                  <div class="uk-width-3-10">
                    <a href="#" onclick="userstory_edit(this, 'insert');"><small><em>插入</em></small></a>
                  </div>
                </div>
                <!--Right Panel-->
                <div class="uk-width-2-5 uk-grid">
                  <div class="uk-width-6-10"><small><em>名称</em></small></div>
                  <div class="uk-width-2-10"><small><em>状态</em></small></div>
                  <div class="uk-width-2-10"><small><em>优先级</em></small></div>
                </div>

              </div>
            </li>

            {# userstory list #}
            {% for u in data.userstory %}
            {% if u.project_id==p.id %}
            <li class="us-row" project="{{p.id}}" usid="{{u.id}}">
              <div class="uk-grid">
                <!--Left: userstory data-->
                <div class="uk-grid uk-width-3-5">
                  <div class="uk-width-7-10"><span class="us-name">{{u.name}}</span></div>
                  <div class="uk-width-1-10"><span class="us-status">{{u.status}}</span></div>
                  <div class="uk-width-1-10"><span class="us-priority">{{u.priority}}</span></div>
                  <div class="uk-width-1-10">
                    <!--dropdown menu-->
                    <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}" aria-haspopup="true" aria-expanded="false">
                      <a href=""><i class="uk-icon-caret-down"></i></a>
                      <div class="uk-dropdown uk-dropdown-small" style="">
                        <ul class="uk-nav uk-nav-dropdown">
                          <li>
                            <a class="" href="#" onclick="userstory_edit(this, 'delete');">删除</a>
                            <a class="uk-hidden2 uk-ove2rlay-panel" href="#" onclick="userstory_edit(this, 'update');">编辑</a>
                            <a class="uk-hidden2" href="#" onclick="userstory_edit(this, 'insert');">插入</a>
                          </li>
                        </ul>
                      </div>
                    </div>

                  </div>
                  <figure class="uk-width-1-10 uk-overlay uk-overlay-hover">
                    <img src="" width="" height="" alt="">
                    <figcaption class="uk-overlay-panel">...</figcaption>
                </figure>

                </div>

                <!--Right: backlog data-->
                <div class="uk-width-2-5">
                  <ul class="uk-list uk-list-striped">
                  {% for b in data.backlog %}
                  {% if b.userstory_id==u.id %}
                  <li class="bl-row" project="{{b.id}}" usid="{{u.id}}" blogid="{{b.id}}">
                    <div class="uk-grid">
                      <div class="uk-width-6-10"><span class="us-name">{{b.name}}</span></div>
                      <div class="uk-width-1-10"><span class="us-status">{{b.priority}}</span></div>
                      <div class="uk-width-1-10"><span class="us-priority">{{b.progress}}</span></div>
                      <div class="uk-width-2-10 uk-visible-hover-inline">
                        <a class="" href="#" onclick="userstory_edit(this, 'delete');">删除</a>
                        <a class="uk-hidden" href="#" onclick="userstory_edit(this, 'update');">编辑</a>
                        <a class="uk-hidden" href="#" onclick="userstory_edit(this, 'insert');">插入</a>
                      </div>
                    </div>
                  </li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </div>
              </div>
            </li>
            {% endif %}
            {% endfor %}

          </ul>

        </li>
      {% endfor %}


      {# 整个页面只有一个edit面板，当哪里需要的时候就搬迁过去并适当初始化 #}
      <li id="us-edit-panel" class="uk-hidden">
        <div class="uk-grid data-uk-grid-match">
          <input id="project_id" class="us-input uk-hidden" value="" />
          <input id="userstory_id" class="us-input uk-hidden" value="" />
          <div class="uk-width-5-10">
            <textarea id="name" class="us-input" rows="" cols=""></textarea>
          </div>
          <div class="uk-width-1-10">
            <select id="status" class="us-input"><option>正常</option><option>挂起</option><option>取消</option></select>
          </div>
          <div class="uk-width-1-10 uk-form-controls">
            <select id="priority" class="us-input"><option>低</option><option>一般</option><option>高</option><option>紧急</option></select>
          </div>
          <div class="uk-width-2-10">
            <a href="#" onclick="userstory_edit_save(this);">保存</a>
            <a href="#" onclick="userstory_edit_cancel(this);">取消</a>
          </div>
        </div>
      </li>
    </ul>
  </div>

<script type="text/javascript">

/** 初始化us编辑面板
 * @element: 触发事件的按钮对象
 * @action: 动作标志，delete-删除，insert-新建，update-更新
 */
function userstory_edit(element, action){
  var target_us_row = $(element).closest("li.us-row");
  var us_editor = $('li#us-edit-panel');
  var project_id = $(target_us_row).attr("project");
  var userstory_id = $(target_us_row).attr("usid");

  if(action=='delete'){
    return userstory_delete(userstory_id);
  }else if(action=='insert'){
    $(us_editor).find("#project_id.us-input").attr("value", project_id);
    $(us_editor).find("#userstory_id.us-input").attr("value", "");
    $(us_editor).find("#name.us-input").val("");
  }else if(action=='update'){
    var name = $(target_us_row).find("span.us-name").text();
    var status = $(target_us_row).find("span.us-status").text();
    var priority = $(target_us_row).find("span.us-priority").text();
    //console.info(project_id+userstory_id+name+status+priority);
    $(us_editor).find("#project_id.us-input").attr("value", project_id);
    $(us_editor).find("#userstory_id.us-input").attr("value", userstory_id);
    $(us_editor).find("#name.us-input").val(name);
    $(us_editor).find("#status.us-input").val(status);
    $(us_editor).find("#priority.us-input").val(priority);
  }else{
    console.error("not supported action - " + action);
    return;
  }

  //move us editor to right position
  $(us_editor).detach();
  $(us_editor).insertAfter($(target_us_row));
  $(us_editor).removeClass("uk-hidden");
}

/*删除特定的用户故事*/
function userstory_delete(userstory_id){
  //ajax to delete selected us
  $.ajax({
    url: "{{url_for('ajax_delete_us')}}",
    type: 'POST',
    dataType: 'json',
    data: {"usid": userstory_id},
    async: false,
    cache: false,
    success: function(result) {
      if(result.code==0){
        //alert('提交成功,rowid=' + result.rowid);
        window.location.href="{{url_for('list_userstory')}}";
      }else{
        alert('提交失败,error="' + result.message + '"');
      }
    }
  });
}

/* Save the new added or updated us by AJAX */
function userstory_edit_save(element){
  //get inputed fields
  var project_id = $('#project_id.us-input').attr('value');
  var userstory_id = $('#userstory_id.us-input').attr('value');
  var name = $('#name.us-input').val();
  var status = $('#status.us-input').val();
  var priority = $('#priority.us-input').val();

  //check if input is valid
  if(name.length==0){
    alert("Name cant't be empty!");
    return;
  }
  var data = {'name': name,
              'status': status,
              'priority': priority,
              'project_id': project_id,
              "userstory_id": userstory_id};
  console.info(data);

  //ajax to save new us
  $.ajax({
    url: "{{url_for('ajax_edit_us')}}",
    type: 'POST',
    dataType: 'json',
    data: data,
    async: false,
    cache: false,
    success: function(result) {
      if(result.code==0){
        //alert('提交成功,rowid=' + result.rowid);
        window.location.href="{{url_for('list_userstory')}}";
      }else{
        alert('提交失败,error="' + result.message + '"');
      }
    }
  });
}

/* cancel userstory edit */
function userstory_edit_cancel(element){
  var us_editor = $(element).closest('li#us-edit-panel');
  $(us_editor).addClass("uk-hidden");
}

</script>

{% endblock %}
